@import url("https://fonts.googleapis.com/css?family=Lato:300,regular,700");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: "Lato";
}

body {
  color: #000;
  font-size: 14px;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: transparent;
  padding: 0px 42px;
  height: 47px;
  line-height: 45px;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn span {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover.btn-w {
  color: #000;
}

.btn:hover.btn-b {
  color: #fff;
}

.btn:hover::after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn.fw {
  width: 100%;
}

.btn-w {
  color: #fff;
  border: 1px solid #fff;
}

.btn-w::after {
  background-color: #fff;
}

.btn-b {
  color: #000;
  border: 1px solid #000;
}

.btn-b::after {
  background-color: #000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  position: relative;
  border-radius: 0 !important;
  height: 35px;
  width: 100%;
  display: block;
  padding: 0px 20px;
  font-size: 15px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}

.input.focus {
  border-top: 1px solid blue;
}

.input.err {
  border-top: 1px solid red;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */

#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

#baguetteBox-overlay.visible {
  opacity: 1;
}

#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}

#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}

#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, -webkit-transform .4s ease;
  -o-transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease;
}

#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight .4s ease-out;
          animation: bounceFromRight .4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft .4s ease-out;
          animation: bounceFromLeft .4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0;
  }
}

.baguetteBox-button#next-button,
.baguetteBox-button#previous-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.baguetteBox-button:focus,
.baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}

.baguetteBox-button#next-button {
  right: 2%;
}

.baguetteBox-button#previous-button {
  left: 2%;
}

.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}

.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/

.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer {
  background-color: #3c3c3c;
  padding: 45px 0px;
}

.footer__body {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin: 0px 0px 40px 0px;
}

.footer__menu {
  text-align: center;
  margin: 0px 0px 35px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list li {
  margin: 0px 10px;
}

.footer__link {
  font-size: 14px;
  color: #a4a4a4;
}

.footer__link:hover {
  color: #fff;
}

.footer__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 160px 0px 150px 0;
}

.mainblock__content {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock__content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainblock__text {
  color: #ffffff;
  position: relative;
  padding: 0px 0px 50px 0px;
  margin: 30px 0px;
}

.mainblock__text::after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0px 0px 0px -52.5px;
}

.mainblock__title {
  font-size: 34px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.mainblock__footer {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainblock__btn {
  margin: 0px 0px 60px 0px;
}

.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 1.5s infinite ease;
          animation: arrow 1.5s infinite ease;
}

.mainblock__image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.menu {
  padding: 22px 0px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin: 0px 0px 130px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  text-align: center;
  margin: 0px 25px;
}

.menu__link {
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #ada074;
}

.menu__link-act {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}

.about__header-block {
  margin: 0px 0px 65px 0px;
}

.about__body {
  text-align: center;
  max-width: 900px;
  margin: 0px auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.about__column {
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}

.about__item {
  text-align: center;
  max-width: 261px;
}

.about__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.about__icon-l {
  padding: 0px 0px 0px 7px;
}

.about__title {
  font-size: 22px;
  letter-spacing: 0.16em;
  margin: 0px 0px 33px 0px;
}

.about__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #868585;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  position: relative;
  padding: 0px 0px 35px 0px;
}

.header-block__title::after {
  content: "";
  width: 81px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  background-color: #000000;
}

.header-block__subtitle {
  max-width: 700px;
  margin: 0px auto;
  padding: 37px 0px 0px 0px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 105px 0px 60px 0px;
}

.portfolio__header-block {
  margin: 0px 0px 50px 0px;
}

.portfolio__filter {
  margin: 0px 0px 135px 0px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}

.portfolio__item img {
  max-width: 100%;
}

.portfolio__footer {
  text-align: center;
  padding: 35px 0px 0px 0px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
  margin: 0px 25px;
  cursor: pointer;
}

.filter__item.active {
  color: #ada074;
}

.partners {
  background: url("../img/partners/bg.jpg") center/cover no-repeat;
  padding: 100px 0px 70px 0px;
}

.partners__title {
  font-size: 30.4px;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 90px 0px;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__column {
  padding: 0px 55px;
  margin: 0px 0px 30px 0px;
}

.contacts {
  padding: 180px 0px 70px 0px;
}

.contacts__header-block {
  margin: 0px 0px 120px 0px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.contacts__form {
  text-align: right;
}

.contacts__content {
  max-width: 260px;
}

.contacts__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  margin: 0px 0px 35px 0px;
}

.contacts__name {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}

.contacts__email {
  font-size: 14px;
}

.contacts__email a {
  font-weight: 700;
  color: #000;
}

.contacts__email a:hover {
  text-decoration: underline;
}

.form-contacts__body {
  max-width: 385px;
  display: inline-block;
  width: 100%;
}

.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px 70px -15px;
}

.form-contacts__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}

.form-contacts__label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: left;
  margin: 0px 0px 17px 0px;
}

.form-contacts__btn {
  margin: 35px 0px 0px 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.social__items {
  margin: 0px 15px 10px 0px;
}

.social__items:last-child {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .menu {
    margin: 0px 0px 50px 0px;
  }

  .about__header-block {
    margin: 0px 0px 25px 0px;
  }

  .about__icon {
    margin: 0px 0px 25px 0px;
  }

  .about__title {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
  }

  .portfolio {
    padding: 50px 0px 40px 0px;
  }

  .portfolio__header-block {
    margin: 0px 0px 30px 0px;
  }

  .portfolio__filter {
    margin: 0px 0px 50px 0px;
  }

  .contacts {
    padding: 80px 0px 50px 0px;
  }

  .contacts__header-block {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__list li {
    margin: 0px 15px 10px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26%;
            flex: 0 1 26%;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__row {
    display: block;
  }

  .about__item {
    max-width: none;
  }

  .portfolio__filter {
    margin: 0px 0px 20px 0px;
  }

  .portfolio__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
    max-width: none;
  }

  .portfolio__footer {
    padding: 15px 0px 0px 0px;
  }

  .filter__item {
    margin: 0px 15px;
  }

  .partners {
    padding: 30px 0px 0px 0px;
  }

  .partners__title {
    margin: 0px 0px 30px 0px;
  }

  .partners__column {
    padding: 0px 30px;
  }

  .contacts {
    padding: 30px 0px 30px 0px;
  }

  .contacts__header-block {
    margin: 0px 0px 30px 0px;
  }

  .contacts__body {
    display: block;
  }

  .contacts__form {
    text-align: left;
    margin: 0px 0px 30px 0px;
  }

  .contacts__content {
    max-width: none;
  }

  .form-contacts__body {
    max-width: none;
    display: block;
  }

  .form-contacts__row {
    margin: 0px -15px 30px -15px;
  }

  .form-contacts__btn {
    display: block;
    margin: 35px auto 0;
  }
}

@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .mainblock {
    padding: 20px 0px;
  }

  .mainblock__title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 479.98px) {
  .menu {
    margin: 0px 0px 25px 0px;
  }

  .menu {
    padding: 22px 0px 12px 0px;
  }

  .about__icon {
    margin: 0px 0px 10px 0px;
  }

  .about__title {
    margin: 0px 0px 10px 0px;
  }

  .contacts__content {
    text-align: center;
  }

  .form-contacts__row {
    display: block;
  }

  .form-contacts__btn {
    display: block;
    width: 100%;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.webp .partners{ background: url(../img/partners/bg.webp) center/cover no-repeat; }